body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: dimgray;
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: #161616;
    height: 150px;
}

.info{
    grid-column: span 2;
}

.communities{
    grid-column: span 4;
}
.grid-container > div{
    padding: 5px;
}

.button{
    grid-row: 3;
    grid-column: 4;
}

input{
    color: black;
}

.index-flex{
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
}