@{
    ViewData["Title"] = "Commands";
}

<h2>Commands</h2>
<div>
    <h4>List of all current commands.</h4>
    <div class="commands">
        @foreach (Tuple<string, string, string> command in CommandList.CommandsTuple)
        {
            <label>!@command.Item1.ToString()</label>
            <label>@command.Item3.ToString()</label>
        }
    </div>
</div>