@{
    ViewData["Title"] = "Dashboard";
}

<h1>@(Authenticate.UserName + "'s") Dashboard</h1>
<div class="flex-container">
    <div>
        <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/embed/@(Authenticate.UserName)/chat" height="600" width="500"></iframe>
    </div>
    <div>
        <iframe frameborder="0" scrolling="no" id="bot_info_embed" src="@Url.Action("botsettings")" height="200" width="620"></iframe>
        <iframe frameborder="0" scrolling="no" id="bot_info_embed" src="@Url.Action("streamsettings")" height="200" width="620"></iframe>
    </div>
</div>