@{
    ViewData["Title"] = "Home Page";
}
<h1>@(ViewBag.Username+"'s") Dashboard</h1>
<div style="border: 1px black solid; height: 600px; width: 800px; text-wrap:normal; overflow: auto"></div>
<form>
    <input type="text" style="width:747px">
    <input type="submit" value="Send" style="width:50px">
</form>