@{
    ViewData["Title"] = "Home Page";
}
<h1>@(ViewBag.Username+"'s") Dashboard</h1>

<iframe frameborder="0"
        scrolling="yes"
        id="chat_embed"
        src="http://www.twitch.tv/embed/@(ViewBag.Username)/chat"
        height="600"
        width="800">
</iframe>