@{
    ViewData["Title"] = "Home Page";
}

<h1>@(AuthViewModel.UserName + "'s") Dashboard</h1>
<div class="flex-container">
    <div>
        <iframe frameborder="0" scrolling="yes" id="chat_embed" src="http://www.twitch.tv/embed/@(AuthViewModel.UserName)/chat" height="600" width="500"></iframe>
    </div>
    <div class="grid-container">
        <div>Game:</div>
        <div><input type="text" value="@(StreamInfoModel.Game)" /></div>
        <div>Title:</div>
        <div><input type="text" value="@(StreamInfoModel.Title)" /></div>
        <div >Communities:</div>
        @foreach (string community in StreamInfoModel.Communities)
        {
        <div><input type="text" value="@community" /></div>
        }
        <div class="grid-item"><input type="button" value="Set" /></div>
    </div>
</div>