@{
    ViewData["Title"] = "Home Page";
}

<h1>@(AuthViewModel.UserName + "'s") Dashboard</h1>
<div class="flex-container">
    <div>
        <iframe frameborder="0" scrolling="yes" id="chat_embed" src="http://www.twitch.tv/embed/@(AuthViewModel.UserName)/chat" height="600" width="500"></iframe>
    </div>
    <form method="post" class="grid-container">
        <div class="info">
            <label>Game</label>
            <input value="@(StreamInfoModel.Game)" />
        </div>
        <div class="info">
            <label>Title</label>
            <input value="@(StreamInfoModel.Title)" />
        </div>
        <div class="communities">
            <label>Communities</label>
            @foreach (string community in StreamInfoModel.Communities)
            {
                <input value="@community" />
            }
        </div>
        <input class="button" type="submit" value="Update Stream" asp-action="update" />
    </form>
</div>