@model ChatBot.Models.AuthViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="index-flex">
    <input type="button" value="Login to Twitch" onclick="location.href='@AuthViewModel.LoginUrl'" />
</div>

