@{
    ViewData["Title"] = "Login";
}

<div class="index-flex">
    <form method="get" asp-controller="Home">
        <input class="button" type="submit" value="Login to Twitch" asp-action="authenticate" />
    </form>
</div>

